<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.css">
<div class='row around-xs'>
	<div class='col-xs-auto'>
		<a href='//play.google.com' target="_blank" class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-google-play zmd-2x'></i><strong>Play Store</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='//twitter.com/jk0myno' target="_blank" class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-twitter zmd-2x'></i><strong>Twitter</strong></a>
	</div>
	<div class='col-xs-auto'>
		<a href='//github.com/jkomyno' target="_blank" class='ui-bottom-sheet-link ui-btn ui-btn-inline waves-effect waves-button waves-effect waves-button' data-ajax='false'><i class='zmdi zmdi-github zmd-2x'></i><strong>GitHub</strong></a>
	</div>
</div>